body, html, #container {
	height: 100%;
	margin: 0;
	overflow-x: hidden;
	overflow-y: hidden;
}

#container {
	min-height:100%;
	width: 100%;
	
	color: #A8BACE;

	background-color: #576E86;

	text-align:center;
	font-family:arial;
	font-weight: bolder;
	font-size: 150%;
	user-select: none;
	-webkit-user-select: none;
}

.touched {
	background-color: #394D61 ;
}

/*******************************************************************************
	trackpad
*******************************************************************************/

#trackpad {
	height:60%;
	width:100%;
	margin:auto;
	border-bottom: 1px solid #aaa;
}

#trackpad img {

    position: absolute;
    left: 0px;
    margin: 0.4em;
    width: 1em;
}

/*******************************************************************************
	button
*******************************************************************************/

#bottomRow {
	height:40%;
	width:100%;
	margin:auto;
}

#homeButton {
	float: left;
	width: 50%;
	height: 100%;
	margin-left: -1px;
	border-right: 1px solid #aaa;
}	

#appButton {
	float: right;
	width: 50%;
	height: 100%;
}


#status {
	position: absolute;
	text-align: left;
	bottom: 0px;
	left: 0px;
	font-size: 50%;
	color: #222;
	pointer-events: none;
}

/*******************************************************************************
	status
*******************************************************************************/

#status ul {
	margin: 8px;
	padding: 8px;
	list-style: none;
}
#status li {
}
